@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    font-family: 'Inter', system-ui, sans-serif;
  }
}

@layer utilities {
  .prose p {
    @apply mb-4 leading-relaxed;
  }
  .prose h2 {
    @apply text-lg font-bold text-navy-900 mb-2 mt-6;
  }
}